<section class="page-section examples" id="examples">
    <div class="ui container">

        <div class="title">
            <h2><%- data.title %></h2>
            <p><%- data.caption %></p>
        </div>
    </div>


    <div id="Glide" class="glide">

            <!-- Wrapper -->
            <div class="glide__wrapper">
                <ul class="glide__track">


                    <% data.sites.forEach(function(item) {%>

                        <!-- Item -->
                        <li class="glide__slide">
                            <div class="ui container very relaxed stackable grid">
                                <div class="six wide column">
                                    <h2><%- item.site.title %></h2>
                                    <h4 class="color-green">Конверсия: <span><%- item.site.conversion %></span></h4>
                                    <p><%- item.site.caption %></p>
                                    <a class="ui button gray" href="<%- item.site.link %>">Подробнее</a>
                                </div>
                                <div class="ten wide column">
                                    <img class="ui image" src="/assets/img/examples/<%- item.site.image %>" alt="<%- item.site.title%>"/>
                                </div>
                            </div>
                        </li>

                    <% }); %>

                </ul>
            </div>



            <!-- Arrows -->
            <div class="ui container very relaxed grid arrows">
                <div class="glide__arrows six wide column">
                    <button class="glide__arrow prev" data-glide-dir="<"><i class="ui icon long arrow left"></i></button>
                    <strong class="uppercase"><strong id="currentSlide">1</strong> из <strong id="totalSlides"></strong></strong>
                    <button class="glide__arrow next" data-glide-dir=">"><i class="ui icon long arrow left"></i></button>
                </div>
            </div>
    </div>

    <h2 class="centered"><%- data.others_title %></h2>

    <div class="ui container">
        <div class="ui two columns very relaxed stackable grid">
            <% data.others.forEach(function(item) {%>
            <div class="centered column">
                <img class="ui medium centered image" src="/assets/img/examples/<%- item.other.image %>" alt="<%- item.other.title%>"/>
                <h3>
                    <%- item.other.title %>
                </h3>
                <p><%- item.other.caption %></p>
                <a class="ui button gray" href="<%- item.other.link %>">Подробнее</a>
            </div>
            <% }); %>

        </div>
    </div>
</section>