.hero {

  //BG
  background: radial-gradient(at 20% 40%, rgba(4,10,15,1) 0%,rgba(14,29,31,1) 100%);

  //Title content
  .image img { height: 100% !important; }
  .content strong { line-height: 1.8rem; }

  //Form
  form {
    background: rgba(0,0,0,0.5);
    padding: $pad-vert*1.5 $pad-hor;
    border-radius: 10px;

    strong { display: block; font-size: 1.6rem; margin-bottom: $pad-vert*1.5}
  }
}