.ui.button {

  font-family: "AvenirNextW1G";
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0;

  background: transparent;
  color: white;
  border: 0.1rem solid $color-accent;
  transition: $default-transition;

  //hover
  &:hover {
    color: white;
    background: transparent;

    opacity: .75;
  }

  &:focus {
    color: white;
    background: transparent;
  }

  &:active {
    color: white;
    background: transparent;

    transform: scale(0.995);
  }


  //Color mods
  &.gray {
    border: 0.1rem solid $color-gray;
  }

  &.white {
    border: 0.1rem solid $color-white;
  }


}