a {
    // display: block;
    text-decoration: none;
    font-family: $font-family;
    transition: $default-transition !important;
    color: inherit;
    font-size: inherit;

	&:hover { opacity: .66; }
}

//Link
a.link {
  opacity: 0.66;
  font-size: 1.6rem;
  font-weight: 400;
  transition: $default-transition !important;

  &:hover { cursor: pointer; opacity: 1; color: white; }
  &.underlined { text-decoration: underline; }

  //Colors
  &.accented { color: $color-accent; opacity: 1; &:hover { opacity: .66}}
  &.red   { color: $red;  opacity: 1;     &:hover { opacity: .66;} }

  //Disabled link
  &.disabled {
    pointer-events: none;
    opacity: .33;
  }



}
