h1, h2, h3, h4, h5, strong, span, p, em, .button, small { font-family: $font-family}

h1, h2, h3 , h4, h5 { line-height: 1.15; text-transform: uppercase; }
p,span              { line-height: 1.25; }

h1    { font-size: 3.2rem; font-weight: 500; letter-spacing: 0.2rem; line-height: 3.8rem }
h2    { font-size: 2.6rem; font-weight: 400; letter-spacing: 0.2rem;  }
h3    { font-size: 1.8rem; font-weight: 500; letter-spacing: 0.2rem;  }
h4    { font-size: 1.4rem; font-weight: 600; letter-spacing: 0.1rem;  }

strong{ font-size: 1.4rem; font-weight: 500; }
//span  { font-size: 1.6rem; font-weight: 400;  opacity: 0.66; }
small { font-size: 1rem; }
p     { font-size: 1.6rem; font-weight: 400;  opacity: 0.66; }

i     { font-size: 1.2rem; font-weight: 500; font-style: normal; }
em    { font-size: 1rem;   font-weight: 600; letter-spacing: 0.08rem; text-transform: uppercase; color: $color-black;}

.ui.header { color: white}

//modifications
p.small   { font-size: 1.2rem; }
.caption  { font-weight: 600; letter-spacing: 0.1rem; text-transform: uppercase;}
.centered  { text-align: center}
.uppercase { text-transform: uppercase; }
.accented { color: $color-iodine }


//Section behaviour
.page-section { h1     { margin-bottom: 1.6rem; } }
.page-section { h2     { margin-bottom: 1.6rem; } }
.page-section { h1 + p { margin-bottom: 3.2rem; } }
.page-section { h2 + p { margin-bottom: 3.2rem; } }


// Fonts
@include font-face(AvenirNextW1G, './../../assets/fonts/AvenirNextW1G-Light',    300, normal, woff);
@include font-face(AvenirNextW1G, './../../assets/fonts/AvenirNextW1G-Regular',  400, normal, woff);
@include font-face(AvenirNextW1G, './../../assets/fonts/AvenirNextW1G-Medium',   500, normal, woff);
@include font-face(AvenirNextW1G, './../../assets/fonts/AvenirNextW1G-Demi',     600, normal, woff);
