.price {

  //Title
  .title {
    margin-bottom: $pad-vert*3;

    img { height: 4.2rem; margin-bottom: $pad-vert*1.5; }
    h2  { margin-top: 0; }
    p   { max-width: 920px; margin: 0 auto; }
  }

  //Offers
  .three.column.grid {
    margin-bottom: $pad-vert*4;

    //Title and price
    h2:first-of-type { margin-bottom: $pad-vert/3 }
    h2:last-of-type  { margin-top: 0; margin-bottom: $pad-vert*1.5; letter-spacing: 0; }
    h2:last-of-type:after { content: ' ₽'}

    .column > .content { padding: $pad-vert*2.5 $pad-hor*1.5; outline: 0.1rem solid $color-gray }
    .column:nth-of-type(2) > .content { outline: 0.1rem solid $color-oz-green }

    .list { margin-bottom: $pad-vert*1.5 }
    .item:first-of-type { margin-bottom: $pad-vert/2; }

    .content p { margin-bottom: $pad-vert*2; }

  }

  //Including
  .including {

    h3 {margin-bottom: $pad-vert*3.5}
    h4 { margin-top: $pad-vert*2}
    
    .image {

      position: relative;

      height: 12rem;
      width: 12rem;

      margin: 0 auto;

      border: 0.1rem solid $color-gray;
      border-radius: 100%;

      img {
        position: absolute;

        height: auto;
        width: 4.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

  }

}