<% if (data) { %>
    <section class="page-section price" id="price">
        <div class="ui container">

            <!-- Title-->
            <div class="centered title">
                <img src="/assets/img/icons/<%- data.image %>" alt="<%- data.title %>"/>
                <h2><%- data.title %></h2>
                <p><%- data.caption %></p>
            </div>

            <!-- Offers -->
            <div class="ui three column relaxed stackable grid">
                <% data.offers.forEach(function(item) {%>

                <!-- Offer item -->
                    <div class="ui column">
                        <div class="content">
                            <div class="ui mini image">
                                <img src="/assets/img/icons/<%- item.offer.icon %>"/>
                            </div>
                            <h2> <%- item.offer.title %> </h2>
                            <h2 class="color-green"><%- item.offer.price %></h2>
                            <div class="ui list">
                                <div class="item">
                                    <div class="left floated content">
                                        <h4>Сроки</h4>
                                    </div>
                                    <div class="right floated content">
                                        <h4><%- item.offer.time %></h4>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="left floated content">
                                        <h4>Конверсия</h4>
                                    </div>
                                    <div class="right floated content">
                                        <h4><%- item.offer.conversion%></h4>
                                    </div>
                                </div>

                            </div>

                            <p><%- item.offer.caption %></p>
                            <a class="ui fluid gray button" href="<%-item.offer.link%>">Оставить заявку</a>
                        </div>
                    </div>
                <% }); %>
            </div>


            <!-- Including -->
            <div class="including">
                <h3 class="centered"><%- data.including_title %></h3>

                <div class="ui doubling stackable five column divided grid">
                    <% data.including.forEach(function(item) {%>
                    <div class="column centered">
                        <div class="image">
                            <img class="glow light" src="/assets/img/icons/<%- item.include.icon %>"/>
                        </div>
                        <h4> <%- item.include.title %> </h4>
                    </div>
                    <% }); %>
                </div>



            </div>



        </div>

    </section>

<% } %>