.password-verify {

  span {
    display: block; width: 100%;

    padding: $pad-vert/2 0;
    margin-bottom: 0;

    text-align: center;

    background: $color-light;
    color: $color-gray;
    border-radius: 2rem;

    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);


  }

  //Mods
  .correct {
    span { background: $color-light-green; color: white;}
  }
}
