.examples {

  //BG
  background: radial-gradient(at 0% 10%, rgba(4,10,15,1) 0%,rgba(14,29,31,1) 100%);


  .title {
    max-width: 640px;
    margin-bottom: $pad-vert*4;
  }

  h2.centered {
    margin-bottom: $pad-vert*4;
    padding: $pad-vert*2 0;
    border: 0.1rem solid $color-dark;
  }


  //Slider
  #Glide {

    margin-bottom: $pad-vert*4;

    h2 {  margin-bottom: $pad-vert/4;  margin-top: $pad-vert*2;  }

    h4 {  margin-top: 0;  margin-bottom: $pad-vert*2;  }

    p {  margin-bottom: $pad-vert*2;  }


    .arrows {
      position: relative;

      .column {
        position: absolute;
        top: -4rem;

        & > strong { display: block; width: 100%; text-align: center; letter-spacing: 0.2rem; opacity: .66; }

        //Buttons
        button {
          position: absolute;
          top: 1rem;

          &.prev { left: 1.2rem; }
          &.next { right: 1.2rem; }

        }

      }
    }

    //Arrows
    //.glide__arrows {
    //  strong { text-align: center;}
    //}

  }
}