<section class="page-section text">
    <div class="ui container">

        <div class="ui two column stackable grid">
            <div class="ui column">
                <header class="ui header"><h2 >Заголовки</h2></header>

                <h1 class="big">Заголовок 1 (big)</h1>
                <h1>Заголовок 1</h1>
                <h2>Заголовок 2</h2>
                <h2 class="accented">Заголовок 2 акцентированный </h2>
                <h3>Заголовок 3</h3>
                <h4>Заголовок 4</h4>
                <h4>Заголовок 5</h4>
            </div>
            <div class="ui column">
                <h2 class="green">Примеры текста</h2>
                <p>Я пример текста и я стараюсь уместиться в две линии</p>
                <p>Я пример теста со <a href="#" class="link">ссылкой</a></p>
                <small>Я пример маленького текста</small>
                <p>Я пример текста, в котором содержится <strong>Выделение</strong></p>
            </div>
        </div>

    </div>
</section>