<section class="page-section clickable">
    <div class="ui container">

        <div class="ui two column stackable grid">
            <div class="ui column">
                <h2 class="green">Ссылки</h2>
                <a href="#">Я обычная ссылка</a>
                <a class="accented link" href="#">Я акцентированная ссылка</a>
                <a class="arrowed link" href="#">Я ссылка со стрелкой<i class="icon long arrow right"></i></a>
                <a class="accented arrowed link" href="#">Я акцентированная ссылка со стрелкой<i class="icon long arrow right"></i></a>
            </div>
            <div class="ui column">
                <h2 class="green" href="#">Кнопки</h2>
                <button class="ui button">Обычная кнопка</button>
                <button class="ui button fluid">Кнопка на всю ширину</button>
                <button class="ui button white">Кнопка с белой обводкой</button>
                <a class="ui button" href="#">Кнопка ссылкой</a>
            </div>
        </div>

    </div>

</section>