.advantages {

  .six.wide.column {
    img { height: 16rem; }

    p { margin-bottom: 0; }

    .particles:after {
      content: '';
      display: block;
      position: absolute;
      overflow: hidden;
      width: 12rem;
      height: 12rem;
      background: url('/assets/img/advantages/particles.png');
      background-size: cover;
      opacity: .75;

      top: -2.5rem;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  .ten.wide.column img { height: 3.2rem; }

  .equal.width.grid {
    margin-top: $pad-vert*4;
    border: 0.1rem solid $color-dark;

    img { opacity: .33  }
  }
}